<div class="card">

      <div class="card-header">
          Credêncial
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form>

                    <div class="row">
                        <div class="col-md-6">
                            <img id="cred" nome="cred" id="cred" [src]="'data:image/jpg;base64,'+credencial">
                        </div>
                    </div>

                </form>
              </div>
          </div>

          <button type="submit" class="btn btn-primary" (click)="bsModalRef.hide()">Voltar</button>

      </div>
      

</div>