.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form){
    border-left: 5px solid #A94442;
}

.buttons1{
    margin-top: 60px;
}

.card{

    background-color: rgba(245, 245, 245, 0.95);
    opacity: .95;
    
}

.transparent-input{
    opacity: 0.9;
    filter: alpha(opacity=1);
 }

 .white{
     color: white;
 }

 #conta{
     color: white;
 }

 .container{
     margin-top: 20px;
     margin-bottom: 50px;
     
 }

 .col-md-6{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    padding: 20px; 
 }




