<div id="main" class="flex-row align-items-center">

	<div class="container">

		<div class="row justify-content-center transparent-input">

			<div class="col-md-6">



                <form #createForm="ngForm">
                        <h1 class="white">Registar Intervenção</h1>
                        <p class="white">Registe uma nova intervenção</p>

                     
                        <div class="form-group mb-3">
                            <label class="white" for="dateIntervenção">Data de Intervenção</label>
                            <angular2-date-picker
                                id="dateIntervencao"
                                [(ngModel)]="data"
                                name="dateIntervencao"
                                [settings]="settings"
                                #dateIntervencao="ngModel">                    
                            </angular2-date-picker>
                        </div>


                        <div class="form-group mb-3">
                            <label class="white" for="veterinarioEvento">Descrição</label>
                            <input 
                                id="descIntervencao"
                                type="text" 
                                class="form-control" 
                                required 
                                [(ngModel)]="descricao"
                                name="descIntervencao"
                                #descIntervencao="ngModel"                    
                            >
                            <div *ngIf="descIntervencao.errors && ( descIntervencao.dirty || descIntervencao.touched )" class="alert alert-danger">
                                <div [hidden]="!descIntervencao.errors.required">
                                    O campo descrição é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-4">
                            <label class="white" for="tipoIntervencao">Tipo da intervenção</label>
                            <select class="form-control" 
                                    id="tipoIntervencao"
                                    name="tipoIntervencao" 
                                    [(ngModel)]="tipo"
                                    #tipoIntervencao="ngModel"
                                    >
                                <option value="Exame">Exame</option>
                                <option value="Vacina">Vacina</option>
                                <option value="Desparatização">Desparatização</option>
                                <option value="Esterelização">Esterelização</option>
                                <option value="Prescricao">Prescrição</option>
                                <option value="Outro">Outro</option>
                            </select>

                            <div *ngIf="tipoIntervencao.errors && ( tipoIntervencao.dirty || tipoIntervencao.touched )" class="alert alert-danger">
                                <div [hidden]="!tipoIntervencao.errors.required">
                                    O campo tipo de intervenção é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-4">
                            <label class="white" for="tipo">Observações</label>
                            <textarea style="background-color:aliceblue;text-align: justify;color:dimgray" 
                                class="form-control form-control-sm" 
                                rows="5" 
                                class="form-control" 
                                name="observacoes" 
                                [(ngModel)]="observacoes">
                            </textarea>
                        </div>

                        
                        <div class="buttons1">
                            <button type="submit" (click)="newIntervencao()" class="btn btn-success custom-button-width" [disabled]="loading" [disabled]="!createForm.form.valid">
                                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                <span class="fa fa-save" *ngIf="!loading"></span>  Guardar
                            </button>
                            

                            <a routerLink="/eventos"><button type="submit" class="btn btn-danger custom-button-width">
                                <span class="fa fa-arrow-left"></span>  Cancelar
                            </button></a>
                        </div>
             
                    </form>
                    
              </div>
          </div>

          

      </div>

</div>