<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Mostrar Utilizador
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form>
                        <h1>Mostrar Utilizador</h1>
                        <p class="text-muted">Id do Utilizador: {{utilizador._id}}</p>

                        <div class="form-group mb-3">
                            <label for="id">Utilizador ID</label>
                            <input type="text" class="form-control"  name="id" [(ngModel)]="utilizadorId" readonly>
                        </div>
                        <div class="form-group mb-3">
                            <label for="nome">Nome do Utilizador</label>
                            <input type="text" class="form-control"  name="nome" [(ngModel)]="nomeUtilizador" readonly>
                        </div>
                        <div class="form-group mb-4">
                            <label for="tipo">Email</label>
                            <input type="text" class="form-control"   name="email" [(ngModel)]="emailUtilizador" readonly>
                        </div>
                        <div class="form-group mb-4">
                            <label for="raca">Role</label>
                            <input type="text" class="form-control"  name="role" [(ngModel)]="roleUtilizador" readonly>
                        </div>

                        <div *ngIf="credencialUtilizador!=null" class="form-group mb-4">
                            <label for="foto">Credêncial</label>
                            <!--<img nome="foto" id="foto" [src]="'data:image/jpg;base64,'+fotoAnimal">-->
                            <button class="form-control btn btn-secondary" (click)="verCred($event)">Ver Credêncial</button>
                        </div>



                        <div class="row">
                            <div class="col-6">

                                <a *ngIf="!(p === 'preRegisto')" routerLink="/utilizadores"><button type="submit" class="btn btn-primary" [disabled]="loading">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    <span class="fa fa-arrow-left" *ngIf="!loading"> </span> Voltar
                                </button></a>
                                <a *ngIf="p === 'preRegisto'" routerLink="/utilizadores/listaPreRegisto"><button type="submit" class="btn btn-primary" [disabled]="loading">
                                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                        <span class="fa fa-arrow-left" *ngIf="!loading"> </span> Voltar
                                 </button></a>
                                 <a *ngIf="authService.isAuthenticated() && authService.hasRole('admin') && estadoUtilizador === false">
                                        <button class="btn btn-success" 
                                            title="Validar utilizador" (click)="validarUtilizador(utilizadorId)" [disabled]="loading">
                                            <i class="fa fa-check-circle-o" *ngIf="!loading"></i>
                                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                            Validar
                                        </button>
                                    </a>
                            </div>
                        </div>
                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>