<header class="app-header navbar">
    
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" routerLink=""></a>
    <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
    
    <ul class="nav navbar-nav ml-auto">
        <app-notifications></app-notifications>
        
        <li class="nav-item dropdown mr-4" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <img src="assets/img/avatars/default.png" class="img-avatar" [alt]="user.email">
                <span class="d-md-down-none">{{user.name}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <div *ngIf="authService.isAuthenticated()">
                    <button type="button" class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i>Terminar sessão</button>
                </div>
                <div *ngIf="authService.isAuthenticated() && !authService.hasRole('admin')">
                    <a routerLink="/auth/alterarUserPassword">
                        <button type="button" class="dropdown-item"><i class="fa fa-key"></i>Alterar password</button>
                    </a>
                </div>
                <div *ngIf="!authService.isAuthenticated()">
                    <a routerLink="/auth/login" class="dropdown-item"><i class="fa fa-sign-in"></i>Iniciar sessão</a>
                </div>
                <div *ngIf="!authService.isAuthenticated()">
                    <a routerLink="/auth/register" class="dropdown-item"><i class="fa fa-user-plus"></i>Registar Novo Utilizador</a>
                </div>
            </div>
        </li>
    </ul>
</header>

<div class="app-body">  
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home">
                        <i class="fa fa-home"></i> Home 
                    </a>
                </li>

                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown 
                *ngIf="authService.hasRole(['admin'])">
                    <a class="nav-link nav-dropdown-toggle " appNavDropdownToggle>
                        <i class="fa fa-users"></i> Utilizadores
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item" 
                        *ngIf="authService.hasRole(['admin'])">
                            <a class="nav-link" routerLinkActive="active" routerLink="/utilizadores" 
                            [routerLinkActiveOptions]="{exact: true}">
                                <i class="fa fa-list"></i> Todos os utilizadores 
                            </a>
                        </li>
                        <li class="nav-item" 
                        *ngIf="authService.hasRole(['admin'])">
                            <a class="nav-link" routerLinkActive="active" routerLink="/utilizadores/listaPreRegisto"
                            [routerLinkActiveOptions]="{exact: true}">
                                <i class="fa fa-list"></i> Autorização
                            </a>
                        </li>
                    </ul>
                </li>

                
     
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown 
                *ngIf="authService.hasRole(['admin','responsavelanimais', 'treinador', 'veterinario'])">
                    <a class="nav-link nav-dropdown-toggle " appNavDropdownToggle>
                        <i class="fa fa-paw"></i> Animais
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item" 
                        *ngIf="authService.hasRole(['admin', 'responsavelanimais', 'treinador', 'veterinario'])">
                            <a class="nav-link" routerLinkActive="active" routerLink="/animais" 
                            [routerLinkActiveOptions]="{exact: true}">
                                <i class="fa fa-list"></i> Lista de Animais 
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="authService.hasRole(['admin','responsavelanimais'])">
                            <a class="nav-link" routerLinkActive="active" routerLink="/animais/criar">
                                <i class="fa fa-plus"></i> Criar Animal
                            </a>
                        </li>   
                    </ul>
                </li>

                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown *ngIf="authService.hasRole(['responsavelanimais', 'treinador', 'admin'])">
                    <a class="nav-link nav-dropdown-toggle " appNavDropdownToggle>
                        <i class="fa fa-safari"></i> Treinos
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item" *ngIf="authService.hasRole(['admin', 'responsavelanimais', 'treinador'])">
                            <a class="nav-link" routerLinkActive="active" routerLink="/treinos" [routerLinkActiveOptions]="{exact: true}">
                                <i class="fa fa-list"></i> Ver treinos
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="authService.hasRole(['treinador', 'admin'])">
                            <a class="nav-link" routerLinkActive="active" routerLink="/treinos/criar">
                                <i class="fa fa-plus"></i> Criar treino
                            </a>
                        </li>
                        
                    </ul>
                </li>

                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown *ngIf="authService.hasRole(['responsavelanimais', 'veterinario', 'admin'])">
                    <a class="nav-link nav-dropdown-toggle " appNavDropdownToggle>
                        <i class="fa fa-medkit"></i> Eventos veterinária
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item" *ngIf="authService.hasRole(['admin', 'responsavelanimais', 'veterinario'])">
                            <a class="nav-link" routerLinkActive="active" routerLink="/eventos" [routerLinkActiveOptions]="{exact: true}">
                                <i class="fa fa-list"></i> Ver eventos
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="authService.hasRole(['veterinario', 'admin'])">
                            <a class="nav-link" routerLinkActive="active" routerLink="/eventos/criar">
                                <i class="fa fa-plus"></i> Criar evento
                            </a>
                        </li>
                        
                    </ul>
                </li>

                <li *ngIf="authService.hasRole(['responsavelanimais', 'admin'])" class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                    <a class="nav-link nav-dropdown-toggle " appNavDropdownToggle>
                        <i class="fa fa-exclamation-circle"></i> Ocorrências
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item" 
                        *ngIf="authService.hasRole(['admin', 'responsavelanimais'])">
                            <a class="nav-link" routerLinkActive="active" routerLink="/ocorrencias" 
                            [routerLinkActiveOptions]="{exact: true}">
                                <i class="fa fa-list"></i> Lista de ocorrências 
                            </a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/ocorrencias/criar">
                                <i class="fa fa-plus"></i> Criar ocorrência
                            </a>
                        </li>
                        -->
                    </ul>
                </li>


                <button *ngIf="!authService.hasRole(['veterinario', 'treinador'])"
                 id="buttonocorrencia" type="button" class="btn btn-danger"
                routerLink="/ocorrencias/criar">Registar Ocorrência</button>
 
            </ul>
            
        </nav>
    </div>

    
    <!-- Main content -->
    <main class="main">
        
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>
        
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div><!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    PATA &copy; 2018 ISEP
    <span class="float-right"> André Pedrosa - Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer>
