


.main { 
    background: url('./cao_unsplash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  #buttonocorrencia{
    position: relative;
    top: 20px;
    width: 80%;
    left: 10%;
  }
