<div class="card">
    <div class="card-header text-center">
        <h3>Animais</h3>
    </div>
    <div class="card-body">
        <div class="form-group row mb-3">
            <label class="col-2 col-form-label">
                Procurar por animais:
            </label>
            <div class="col-10">
                <input type="text" name="name" class="form-control" [(ngModel)]="search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Raça</th>
                            <th>Genero</th>
                            <th>Idade</th>
                            <th *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">Ativo</th>
                            <th *ngIf="!authService.hasRole('responsavelanimais')">Responsável</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="animais.length == 0 && !loading">
                            <td colspan="5" class="text-center">Não existem animais</td>
                        </tr>
                        <tr *ngIf="loading">
                            <td colspan="5" class="text-center">
                                <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngFor="let animal of animais | nameSearchFilter: '_id':search">
                            <td>{{animal._id}}</td>
                            <td>{{animal.nome}}</td>
                            <td>{{animal.tipo}}</td>
                            <td>{{animal.raca}}</td>
                            <td>{{animal.genero}}</td>
                            <td>{{animal.idade}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">{{animal.ativo}}</td>
                            <td *ngIf="authService.isAuthenticated() && !authService.hasRole('admin') && !authService.hasRole('responsavelanimais')"
                            >{{animal.responsavel["name"]}}</td>
                            <td *ngIf="authService.isAuthenticated() && (authService.hasRole('admin'))"
                            >{{animal.responsavel}}</td>


                            <td *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || 
                            authService.hasRole('responsavelanimais') || authService.hasRole('veterinario')) || 
                            authService.hasRole('treinador')">
                                <a [routerLink]="['/animais', animal._id, 'mostrar']" *ngIf="authService.isAuthenticated() 
                                    && (authService.hasRole('admin') || authService.hasRole('responsavelanimais') || 
                                    authService.hasRole('veterinario') || authService.hasRole('treinador'))">
                                    <button class="btn btn-info btn-sm" title="Detalhe animal">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </a>
                                <a [routerLink]="['/animais', animal._id, 'editar']" *ngIf="authService.isAuthenticated() 
                                    && (authService.hasRole('admin') || authService.hasRole('responsavelanimais'))">
                                    <button class="btn btn-info btn-sm" title="Editar animal">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </a>
                                <a *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || 
                                    authService.hasRole('responsavelanimais'))">
                                    <button class="btn btn-danger btn-sm" 
                                        title="Eliminar animal" (click)="deleteAnimal(animal._id)" [disabled]="loading">
                                        <i class="fa fa-remove" *ngIf="!loading"></i>
                                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    </button>
                                </a>
                                <a *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">
                                    <button class="btn btn-danger btn-sm" 
                                    title="Remover BD animal" (click)="deleteAnimalFromDb(animal._id)" [disabled]="loading">
                                    <i class="fa fa-trash" *ngIf="!loading"></i>
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                </button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>