<div class="card">

      <div class="card-header">
          Criar Treino
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form (ngSubmit)="newTreino()" #createForm="ngForm">
                    <h1>Registar Treino</h1>
                    <p class="text-muted">Registe um novo treino</p>

                    <!--
                    <div class="form-group mb-3">
                        <label for="dateTreino">Data</label>
                        <input 
                        id="dateTreino"
                        type="date" 
                        class="form-control" 
                        required
                        [(ngModel)]="data"
                        name="dateTreino"
                        #dateTreino="ngModel"                    
                        >
                        <div *ngIf="dateTreino.errors && ( dateTreino.dirty || dateTreino.touched )" class="alert alert-danger">
                            <div [hidden]="!dateTreino.errors.required">
                                O campo data é obrigatório.
                            </div>
                        </div>
                    </div>
                    -->

                    <div class="form-group mb-3">
                        <label class="white" for="dateTreino">Data</label>
                        <angular2-date-picker
                            id="dateTreino"
                            [(ngModel)]="data"
                            name="dateTreino"
                            [settings]="settings"
                            #dateTreino="ngModel">                    
                        </angular2-date-picker>
                    </div>


                    <br/>
                    <br/>



                    <div class="input-group mb-4">

                        <div class="form-check">
                            <input type="checkbox" name="checkA" id="checkA" [(ngModel)]="checkAnimal">
                            <label class="form-check-label white" for="checkA">Colocar o id do Animal</label>
                        </div>
        
                    </div>
                    
                    
                    <div *ngIf="checkAnimal === true && authService.isAuthenticated()" class="form-group mb-3">
                        <label class="white" for="animalTreino">Id Animal</label>
                        <input 
                            id="animalTreino"
                            type="text" 
                            class="form-control" 
                            required 
                            [(ngModel)]="animal"
                            name="animalTreino"
                            #animalTreino="ngModel"                    
                        >
                        <div *ngIf="animalTreino.errors && ( animalTreino.dirty || animalTreino.touched )" class="alert alert-danger">
                            <div [hidden]="!animalTreino.errors.required">
                                O campo id animal é obrigatório.
                            </div>
                        </div>
                    </div>
                    


                    <div *ngIf="authService.isAuthenticated() && authService.hasRole('treinador') && !checkAnimal" 
                    class="form-group mb-3">
                        <label for="animaluser" class="white">Escolha o seu animal</label>
                        <select name="animaluser" id="animaluser" class="form-control form-control-sm" [(ngModel)]="animal">
                            <option *ngFor="let animal of animais" [ngValue]="animal._id">{{animal.nome}}</option>
                        </select>
                    </div>

                    <div *ngIf="authService.isAuthenticated() && 
                    authService.hasRole('admin') && !checkAnimal"  
                    class="form-group mb-3">
                        <label class="white "for="animaluser2">Escolha o animal em sistema</label>
                        <select name="animaluser2" id="animaluser2" class="form-control form-control-sm" [(ngModel)]="animal">
                            <option *ngFor="let animal of animais2" [ngValue]="animal._id">{{animal.nome}}</option>
                        </select>
                    </div>



                        <div *ngIf="authService.isAuthenticated() && authService.hasRole('admin')" class="form-group mb-3">
                            <label for="treinadorTreino">Id Treinador</label>
                            <input 
                                id="treinadorTreino"
                                type="text" 
                                class="form-control" 
                                required 
                                [(ngModel)]="idtreinador"
                                name="treinadorTreino"
                                #treinadorTreino="ngModel"                    
                            >
                            <div *ngIf="treinadorTreino.errors && ( treinadorTreino.dirty || treinadorTreino.touched )" class="alert alert-danger">
                                <div [hidden]="!treinadorTreino.errors.required">
                                    O campo id treinador é obrigatório.
                                </div>
                            </div>
                        </div>

      

                        <div class="form-group mb-4">
                            <label class="white" for="tipoTreino">Intensidade</label>
                            <select class="form-control" 
                                    id="tipoTreino"
                                    name="tipoTreino" 
                                    [(ngModel)]="tipo"
                                    #tipoTreino="ngModel"
                                    >
                                <option value="Ligeiro">Ligeiro</option>
                                <option value="Medio">Médio</option>
                                <option value="Intenso">Intenso</option>
                                <option value="Personalizado">Personalizado</option>
                            </select>

                            <div *ngIf="tipoTreino.errors && ( tipoTreino.dirty || tipoTreino.touched )" class="alert alert-danger">
                                <div [hidden]="!tipoTreino.errors.required">
                                    O campo Intensidade é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-4">
                            <label for="desempenhoTreino">Desempenho</label>
                            <select class="form-control" 
                                    id="desempenhoTreino"
                                    name="desempenhoTreino" 
                                    [(ngModel)]="desempenho"
                                    #desempenhoTreino="ngModel"
                                    >
                                <option value="Fraco">Fraco</option>
                                <option value="Médio">Médio</option>
                                <option value="Bom">Bom</option>
                                <option value="Excelente">Excelente</option>
                            </select>

                            <div *ngIf="desempenhoTreino.errors && ( desempenhoTreino.dirty || desempenhoTreino.touched )" class="alert alert-danger">
                                <div [hidden]="!desempenhoTreino.errors.required">
                                    O campo desempenho é obrigatório.
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="tipo">Observações</label>
                            <input type="text" class="form-control" name="observacoes" [(ngModel)]="observacoes">
                        </div>

                        
                        <div class="buttons1">
                            <button type="submit" class="btn btn-success custom-button-width" [disabled]="loading" [disabled]="!createForm.form.valid">
                                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                <span class="fa fa-save" *ngIf="!loading"></span>  Guardar
                            </button>
                            

                            <a routerLink="/treinos"><button type="submit" class="btn btn-danger custom-button-width">
                                <span class="fa fa-arrow-left"></span>  Cancelar
                            </button></a>
                        </div>
             
                    </form>
                    
              </div>
          </div>

          

      </div>

</div>