<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Editar Animal
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form (ngSubmit)="updateAnimal()">
                        <h1>Editar Animal</h1>
                        <p class="text-muted">Id do Animal: {{animal._id}}</p>

                        <div class="form-group mb-3">
                            <label for="nome">Nome</label>
                            <input 
                            id="nome"
                            type="text" 
                            class="form-control" 
                            required
                            [(ngModel)]="nomeAnimal"
                            name="nome"
                            #nome="ngModel"                    
                            >
                            <div *ngIf="nome.errors && ( nome.dirty || nome.touched )" class="alert alert-danger">
                                <div [hidden]="!nome.errors.required">
                                    O campo nome é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-4">
                            <label for="tipoAni">Tipo de animal</label>
                            <select class="form-control form-control-sm" 
                                    id="tipoAni"
                                    name="tipoAni" 
                                    [(ngModel)]="tipoAnimal"
                                    #tipoAni="ngModel"
                                    required
                                    >
                                    <option value="Cão">Cão</option>
                                    <option value="Gato">Gato</option>
                                    <option value="Cavalo">Cavalo</option>
                                    <option value="Coelho">Coelho</option>
                                    <option value="Porco">Porco</option>
                                    <option value="Tartaruga">Tartaruga</option>
                                    <option value="Passaro">Pássaro</option>
                                    <option value="Peixe">Peixe</option>
                                    <option value="Outro">Outro</option>
                                    <option value={{tipoAnimal2}}>{{tipoAnimal2}}</option>
                            </select>

                            <div *ngIf="tipoAni.errors && ( tipoAni.dirty || tipoAni.touched )" class="alert alert-danger">
                                <div [hidden]="!tipoAni.errors.required">
                                    O campo tipo de animal é obrigatório.
                                </div>
                            </div>
                        </div>

                        <div style="margin-left:20px" *ngIf="tipoAnimal === 'Outro'" class="form-group mb-3">
                            <label for="tipoA">Outro tipo</label>
                            <input 
                                id="tipoA"
                                type="text" 
                                class="form-control" 
                                required 
                                [(ngModel)]="tipoAnimal2"
                                name="tipoA"
                                #tipoA="ngModel"                    
                            >
                            <div *ngIf="tipoA.errors && ( tipoA.dirty || tipoA.touched )" class="alert alert-danger">
                                <div [hidden]="!tipoA.errors.required">
                                    O campo tipo de animal é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-4">
                            <label for="raca">Raça</label>
                            <input type="text" class="form-control" name="raca" [(ngModel)]="racaAnimal">
                        </div>


                        <div class="form-group mb-4">
                            <label for="genero">Género</label>
                            <select class="form-control" 
                                    id="genero"
                                    name="genero" 
                                    [(ngModel)]="generoAnimal"
                                    required
                                    #genero="ngModel"
                                    >
                                <option value="F">Femea</option>
                                <option value="M">Macho</option>
                            </select>

                            <div *ngIf="genero.errors && ( genero.dirty || genero.touched )" class="alert alert-danger">
                                <div [hidden]="!genero.errors.required">
                                    O campo género é obrigatório.
                                </div>
                            </div>

                        </div>


                        <div class="form-group mb-4">
                            <label for="idade">Idade</label>
                            <input 
                                id="idade"
                                type="text" 
                                class="form-control" 
                                name="idade" 
                                [(ngModel)]="idadeAnimal"
                                #idade="ngModel"
                                required
                                pattern="[0-9]*"
                            >
                            <div *ngIf="idade.errors && ( idade.dirty || idade.touched )" class="alert alert-danger">
                                <div [hidden]="!idade.errors.required">
                                    O campo idade é obrigatório.
                                </div>
                                <div [hidden]="!idade.errors.pattern">
                                    Idade inválida.
                                </div>
                            </div>

                        </div>

                        <div class="form-group mb-3">
                            <label for="foto">Foto do animal</label>
                            <input type="file" style="background-color:aliceblue;text-align: justify;color:dimgray" 
                                class="form-control form-control-sm" 
                                id="foto" 
                                [(ngModel)]="fotoAnimal"
                                name="foto"
                                #foto="ngModel"
                                (change)="fileChangeEvent($event)"                
                            > 
                            <div *ngIf="foto.errors && ( foto.dirty || foto.touched )" 
                            class="alert alert-danger"
                            >
                                <div [hidden]="!foto.errors.required">
                                    O campo foto é obrigatório.
                                </div>
                            </div>
                        </div>

                        

                        <div class="form-group mb-4" *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">
                            <label for="idade">Responsável</label>
                            <input 
                                id="resp"
                                type="text" 
                                class="form-control" 
                                name="resp" 
                                [(ngModel)]="responsavelAnimal"
                                #resp="ngModel"
                            >
                            <div *ngIf="resp.errors && ( resp.dirty || resp.touched )" class="alert alert-danger">
                                <div [hidden]="!resp.errors.required">
                                    O campo responsável é obrigatório.
                                </div>
                                <div [hidden]="!resp.errors.pattern">
                                    Responsável inválido.
                                </div>
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-success" [disabled]="loading">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    <span class="fa fa-save" *ngIf="!loading"> </span> Guardar
                                </button>
                            </div>
                        </div>
                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>