<div class="card">
    <div class="card-header text-center">
        <h3>Ocorrências</h3>
    </div>
    <div class="card-body">
        <div class="form-group row mb-3">
            <label class="col-2 col-form-label">
                Procurar por ocorrência:
            </label>
            <div class="col-10">
                <input type="text" name="name" class="form-control" [(ngModel)]="search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                            <th>Data</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                            <th>Tipo Animal</th>
                            <th>Localização</th>
                            <th>Responsável Animal</th>
                            <th>Animal</th>
                            <th *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">Ativo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="ocorrencias.length == 0 && !loading">
                            <td colspan="5" class="text-center">Não existem ocorrências</td>
                        </tr>
                        <tr *ngIf="loading">
                            <td colspan="5" class="text-center">
                                <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngFor="let ocorrencia of ocorrencias | nameSearchFilter: '_id':search">
                            <td>{{ocorrencia._id}}</td>
                            <td>{{ocorrencia.data | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td>{{ocorrencia.tipo}}</td>
                            <td>{{ocorrencia.descricao}}</td>
                            <td>{{ocorrencia.tipoAnimal}}</td>
                            <td>{{ocorrencia.localizacao}}</td>
                            <td>{{ocorrencia.responsavelAnimais}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('responsavelanimais')">{{ocorrencia.nomeAnimal}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">{{ocorrencia.animal}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">{{ocorrencia.ativo}}</td>
                            <td *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || 
                            authService.hasRole('responsavelanimais'))">
                                <a [routerLink]="['/ocorrencias', ocorrencia._id, 'mostrar']" *ngIf="authService.isAuthenticated() 
                                    && (authService.hasRole('admin') || authService.hasRole('responsavelanimais'))">
                                    <button class="btn btn-info btn-sm" title="Detalhe ocorrência">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </a>


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>