<div class="card">
    <div class="card-header text-center">
        <h3>Treinos</h3>
    </div>
    <div class="card-body">
        <div class="form-group row mb-3">
            <label class="col-2 col-form-label">
                Procurar por treinos:
            </label>
            <div class="col-10">
                <input type="text" name="name" class="form-control" [(ngModel)]="search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                            <th>Data</th>
                            <th>Treinador</th>
                            <th>Animal</th>
                            <th>Tipo</th>
                            <th>Desempenho</th>
                            <th>Observações</th>
                            <th *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">Ativo</th>                         
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="treinos.length == 0 && !loading">
                            <td colspan="5" class="text-center">Não existem treinos</td>
                        </tr>
                        <tr *ngIf="loading">
                            <td colspan="5" class="text-center">
                                <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngFor="let treino of treinos | nameSearchFilter: '_id':search">
                            <td>{{treino._id}}</td>
                            <td>{{treino.data | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('responsavelanimais')">{{treino.nomeTreinador}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('responsavelanimais')">{{treino.nomeAnimal}}</td>
                            <td *ngIf="authService.isAuthenticated() && !authService.hasRole('responsavelanimais')">{{treino.treinador}}</td>
                            <td *ngIf="authService.isAuthenticated() && !authService.hasRole('responsavelanimais') && !authService.hasRole('admin')">{{treino.animal["nome"]}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">{{treino.animal}}</td>
                            <td>{{treino.tipo}}</td>
                            <td>{{treino.desempenho}}</td>
                            <td>{{treino.observacoes}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">{{treino.ativo}}</td>
                            <td class="wfix">
                                <a [routerLink]="['/treinos', treino._id, 'mostrar']"><button class="btn btn-info btn-sm" title="Detalhe treino">
                                    <i class="fa fa-eye"></i>
                                </button></a>
                                <a [routerLink]="['/treinos', treino._id, 'editar']" 
                                *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || authService.hasRole('treinador'))">
                                    <button class="btn btn-info btn-sm" title="Editar treino">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </a>
                                <a *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || authService.hasRole('treinador'))">
                                    <button class="btn btn-danger btn-sm" title="Eliminar treino" (click)="deleteTreino(treino._id)" [disabled]="loading">
                                        <i class="fa fa-remove" *ngIf="!loading"></i>
                                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    </button>
                                </a>
                                <a *ngIf="authService.isAuthenticated() && authService.hasRole('admin')"><button class="btn btn-danger btn-sm" 
                                    title="Remover BD treino" (click)="deleteTreinoFromDb(treino._id)" [disabled]="loading">
                                    <i class="fa fa-trash" *ngIf="!loading"></i>
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                </button></a>
                        

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>