<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Eliminar o treino
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form>
                      <h3>Deseja eliminar o treino?</h3>

                      <div class="row">
                          <div class="col-md-6">
                          <button type="button" class="btn btn-success custom-button-width .navbar-right" (click)="deleteTreino()">SIM</button>
                          <button type="button" class="btn btn-danger custom-button-width .navbar-right" (click)="bsModalRef.hide()">NÃO</button>
                        </div>
                    </div>

                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>