<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Editar Evento
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form (ngSubmit)="updateEvento()">
                        <h1>Editar Evento</h1>
                        <p class="text-muted">Id do Evento: {{evento._id}}</p>

 

                        <div class="form-group mb-3">
                            <label class="white" for="data">Data</label>
                            <angular2-date-picker
                                id="data"
                                [(ngModel)]="dataEvento"
                                name="data"
                                [settings]="settings"
                                #data="ngModel">                    
                            </angular2-date-picker>
                        </div>



                        <div class="form-group mb-4">
                            <label for="tipo">Tipo</label>
                            <input type="text" class="form-control" name="tipo" [(ngModel)]="tipoEvento">
                        </div>



                        <div class="form-group mb-4">
                            <label for="observacoes">Observações</label>
                            <input type="text" class="form-control" name="observacoes" [(ngModel)]="observacoesEvento">
                        </div>



                        <button type="submit" class="btn btn-success" [disabled]="loading">
                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                            <span class="fa fa-save" *ngIf="!loading"> </span> Guardar
                        </button>
       
                        <a [routerLink]="['/eventos']"><button type="submit" class="btn btn-primary" [disabled]="loading">
                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                            <span class="fa fa-arrow-left" *ngIf="!loading"> </span> Voltar
                        </button></a>

                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>