<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Editar Treino
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form (ngSubmit)="updateTreino()">
                        <h1>Editar Treino</h1>
                        <p class="text-muted">Id do Treino: {{treino._id}}</p>

                        <div class="form-group mb-3">
                            <label for="data">Data</label>
                            <input 
                            id="data"
                            type="date" 
                            class="form-control" 
                            required
                            [(ngModel)]="dataTreino"
                            name="data"
                            #data="ngModel"                    
                            >
                            <div *ngIf="data.errors && ( data.dirty || data.touched )" class="alert alert-danger">
                                <div [hidden]="!nome.errors.required">
                                    O campo data é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-4">
                            <label class="white" for="tipoT">Intensidade</label>
                            <select class="form-control" 
                                    id="tipoT"
                                    name="tipoT" 
                                    [(ngModel)]="tipoTreino"
                                    #tipoT="ngModel"
                                    >
                                <option value="Ligeiro">Ligeiro</option>
                                <option value="Medio">Médio</option>
                                <option value="Intenso">Intenso</option>
                                <option value="Personalizado">Personalizado</option>
                            </select>

                            <div *ngIf="tipoT.errors && ( tipoT.dirty || tipoT.touched )" class="alert alert-danger">
                                <div [hidden]="!tipoT.errors.required">
                                    O campo intensidade é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-4">
                            <label for="desempenho">Desempenho</label>
                            <select class="form-control" 
                                    id="desempenho"
                                    name="desempenho" 
                                    [(ngModel)]="desempenhoTreino"
                                    #desempenho="ngModel"
                                    >
                                <option value="Fraco">Fraco</option>
                                <option value="Médio">Médio</option>
                                <option value="Bom">Bom</option>
                                <option value="Excelente">Excelente</option>
                            </select>

                            <div *ngIf="desempenho.errors && ( desempenho.dirty || desempenho.touched )" class="alert alert-danger">
                                <div [hidden]="!desempenho.errors.required">
                                    O campo desempenho é obrigatório.
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="observacoes">Observações</label>
                            <input type="text" class="form-control" name="observacoes" [(ngModel)]="observacoesTreino">
                        </div>


                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-success" [disabled]="loading">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    <span class="fa fa-save" *ngIf="!loading"> Guardar</span>
                                </button>
                            </div>
                        </div>
                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>