<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Mostrar Evento
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form>
                        <h1>Mostrar Evento</h1>
                        <p class="text-muted">Id do Evento: {{evento._id}}</p>


                        <div class="form-group mb-3">
                            <label for="data">Data</label>
                            <input 
                            id="data"
                            type="text" 
                            class="form-control" 
                            readonly
                            [ngModel]="dataEvento | date:'dd-MM-yyyy HH:mm'" 
                            (ngModelChange)="updateData($event)"
                            name="data"
                            >

                        </div>


                        <div class="form-group mb-3">
                            <label for="treinador">Veterinário ID</label>
                            <input type="text" class="form-control" id="veterinario" name="veterinario" [(ngModel)]="veterinarioEvento" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="nomeVet">Nome do Veterinario</label>
                            <input type="text" class="form-control"   name="nomeVet" [(ngModel)]="nomeVeterinario" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="animal">Animal ID</label>
                            <input type="text" class="form-control"   name="animal" [(ngModel)]="animalEvento" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="nomeAni">Nome do Animal</label>
                            <input type="text" class="form-control"   name="nomeAni" [(ngModel)]="nomeAnimal" readonly>
                        </div>


                        <div class="form-group mb-4">
                            <label for="tipo">Tipo de Evento</label>
                            <input type="text" class="form-control"  name="tipo" [(ngModel)]="tipoEvento" readonly>
                        </div>


                        <div class="form-group mb-4">
                            <label for="obs">Observações</label>
                            <input type="text" class="form-control"  name="obs" [(ngModel)]="obsEvento" readonly>
                        </div>



                        <div class="row">
                            <div class="col-6">
                                <a routerLink="/eventos"><button type="submit" class="btn btn-primary" [disabled]="loading">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    <span class="fa fa-arrow-left" *ngIf="!loading"> </span> Voltar
                                </button></a>
                            </div>
                        </div>
                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>