<div class="card">
    <div class="card-header text-center">
        <h3>Intervenções</h3>
        <p class="text-muted">ID do Evento: {{eventoId}}</p>
        <p class="text-muted">Data do Evento: {{dataEvento}}</p>

    </div>
    <div class="card-header text-center">
        <button *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || authService.hasRole('veterinario'))" class="btn btn-success btn-sm menos" title="Criar nova intervencao" [routerLink]="['/eventos', eventoId, 'criarIntervencao']" [disabled]="loading">
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            <span *ngIf="!loading">Criar Nova</span>
        </button>
        <button class="btn btn-secondary btn-sm menos" title="Voltar" routerLink="/eventos" [disabled]="loading">
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            <span *ngIf="!loading">Voltar</span>
        </button>
    </div>




    <div class="card-body">

            

            <div class="form-group mb-4">    
            <label>
                Procurar por intervenções:
            </label>
            <div>
                <input class="form-control" type="text" name="name" class="form-control" [(ngModel)]="search">
            </div>
</div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id Intervenção</th>
                            <th>Data</th>
                            <th>Descrição</th>
                            <th>Tipo</th>
                            <th>Observacoes</th>
                            <th *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">Ativo</th>                         
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="intervencoes.length == 0 && !loading">
                            <td colspan="5" class="text-center">Não existem intervencoes</td>
                        </tr>
                        <tr *ngIf="loading">
                            <td colspan="5" class="text-center">
                                <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngFor="let intervencao of intervencoes | nameSearchFilter: '_id':search">
                            <td>{{intervencao._id}}</td>
                            <td>{{intervencao.data | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td>{{intervencao.descricao}}</td>
                            <td>{{intervencao.tipo}}</td>
                            <td>{{intervencao.observacoes}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">{{intervencao.ativo}}</td>
                            <td class="wfix">
                                <a [routerLink]="['/eventos', intervencao._id, 'mostrarIntervencao']"><button class="btn btn-info btn-sm" title="Detalhe intervenção">
                                    <i class="fa fa-eye"></i>
                                </button></a>
                                <a [routerLink]="['/eventos', intervencao._id, 'editarIntervencao']" 
                                *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || authService.hasRole('veterinario'))">
                                    <button class="btn btn-info btn-sm" title="Editar intervencao">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </a>
                                <a *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || authService.hasRole('veterinario'))">
                                    <button class="btn btn-danger btn-sm" title="Eliminar intervencao" (click)="deleteIntervencao(intervencao._id)" [disabled]="loading">
                                        <i class="fa fa-remove" *ngIf="!loading"></i>
                                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    </button>
                                </a>
                                <a *ngIf="authService.isAuthenticated() && authService.hasRole('admin')"><button class="btn btn-danger btn-sm" 
                                    title="Remover BD Intervencao" (click)="deleteIntervencaoFromDb(intervencao._id)" [disabled]="loading">
                                    <i class="fa fa-trash" *ngIf="!loading"></i>
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                </button></a>

                        

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>