<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Mostrar Animal
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form>
                        <h1>Mostrar Animal</h1>
                        <p class="text-muted">Id do Animal: {{animal._id}}</p>

                        <div class="form-group mb-3">
                            <label for="id">Animal ID</label>
                            <input type="text" class="form-control"  name="id" [(ngModel)]="animalId" readonly>
                        </div>
                        <div class="form-group mb-3">
                            <label for="nome">Nome do Animal</label>
                            <input type="text" class="form-control"  name="nome" [(ngModel)]="nomeAnimal" readonly>
                        </div>
                        <div class="form-group mb-4">
                            <label for="tipo">Tipo</label>
                            <input type="text" class="form-control"   name="tipo" [(ngModel)]="tipoAnimal" readonly>
                        </div>
                        <div class="form-group mb-4">
                            <label for="raca">Raça</label>
                            <input type="text" class="form-control"  name="raca" [(ngModel)]="racaAnimal" readonly>
                        </div>
                        <div class="form-group mb-4">
                            <label for="genero">Género</label>
                            <input type="text" class="form-control"   name="genero" [(ngModel)]="generoAnimal" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="id">Idade</label>
                            <input type="text" class="form-control"  name="idade" [(ngModel)]="idadeAnimal" readonly>
                        </div>

                        <div *ngIf="fotoAnimal" class="form-group mb-4">
                            <label for="foto">Foto</label>
                            <br>
                            <img nome="foto" id="foto" [src]="'data:image/jpg;base64,'+fotoAnimal">
                        </div>



                        <div class="row">
                            <div class="col-6">
                                <a routerLink="/animais"><button type="submit" class="btn btn-primary" [disabled]="loading">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    <span class="fa fa-arrow-left" *ngIf="!loading"> </span> Voltar
                                </button></a>
                            </div>
                        </div>
                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>