<div id="main" class="flex-row align-items-center">

	<div class="container">

		<div class="row justify-content-center transparent-input">

			<div class="col-md-6">



                <form #createForm="ngForm">
                        <h1 class="white">Registar Evento</h1>
                        <p class="white">Registe um novo evento</p>

                        <!--
                        <div class="form-group mb-3">
                            <label for="dateEvento">Data</label>
                            <input 
                            id="dateEvento"
                            type="time" 
                            class="form-control" 
                            required
                            [(ngModel)]="data"
                            name="dateEvento"
                            #dateEvento="ngModel"                    
                            >
                            <div *ngIf="dateEvento.errors && ( dateEvento.dirty || dateEvento.touched )" class="alert alert-danger">
                                <div [hidden]="!dateEvento.errors.required">
                                    O campo data é obrigatório.
                                </div>
                            </div>
                        </div>-->


                     
                        <div class="form-group mb-3">
                            <label class="white" for="dateEvento">Data</label>
                            <angular2-date-picker
                                id="dateEvento"
                                [(ngModel)]="data"
                                name="dateEvento"
                                [settings]="settings"
                                #dateEvento="ngModel">                    
                            </angular2-date-picker>
                        </div>


                        <br/>
                        <br/>

                        <div class="input-group mb-4">
	
								<div class="form-check">
									<input type="checkbox" name="checkA" id="checkA" [(ngModel)]="checkAnimal">
									<label class="form-check-label white" for="checkA">Colocar o id do Animal</label>
								</div>
			
                        </div>
                        
                        
                        <div *ngIf="checkAnimal === true && authService.isAuthenticated()" class="form-group mb-3">
                            <label class="white" for="animalEvento">Id Animal</label>
                            <input 
                                id="animalEvento"
                                type="text" 
                                class="form-control" 
                                required 
                                [(ngModel)]="animal"
                                name="animalEvento"
                                #animalEvento="ngModel"                    
                            >
                            <div *ngIf="animalEvento.errors && ( animalEvento.dirty || animalEvento.touched )" class="alert alert-danger">
                                <div [hidden]="!animalEvento.errors.required">
                                    O campo id animal é obrigatório.
                                </div>
                            </div>
                        </div>
                        


                        <div *ngIf="authService.isAuthenticated() && authService.hasRole('veterinario') && !checkAnimal" 
                        class="form-group mb-3">
                            <label for="animaluser" class="white">Escolha o seu animal</label>
                            <select name="animaluser" id="animaluser" class="form-control form-control-sm" [(ngModel)]="animal">
                                <option *ngFor="let animal of animais" [ngValue]="animal._id">{{animal.nome}}</option>
                            </select>
                        </div>

                        <div *ngIf="authService.isAuthenticated() && 
                        authService.hasRole('admin') && !checkAnimal"  
                        class="form-group mb-3">
                            <label class="white" for="animaluser2">Escolha o animal em sistema</label>
                            <select name="animaluser2" id="animaluser2" class="form-control form-control-sm" [(ngModel)]="animal">
                                <option *ngFor="let animal of animais2" [ngValue]="animal._id">{{animal.nome}}</option>
                            </select>
                        </div>


                        
                        <div *ngIf="authService.isAuthenticated() && authService.hasRole('admin')" class="form-group mb-3">
                            <label class="white" for="veterinarioEvento">Id Veterinário</label>
                            <input 
                                id="veterinarioEvento"
                                type="text" 
                                class="form-control" 
                                required 
                                [(ngModel)]="idVeterinario"
                                name="veterinarioEvento"
                                #veterinarioEvento="ngModel"                    
                            >
                            <div *ngIf="veterinarioEvento.errors && ( veterinarioEvento.dirty || veterinarioEvento.touched )" class="alert alert-danger">
                                <div [hidden]="!veterinarioEvento.errors.required">
                                    O campo id veterinário é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-4">
                            <label class="white" for="tipoEvento">Tipo do Evento</label>
                            <select class="form-control" 
                                    id="tipoEvento"
                                    name="tipoEvento" 
                                    [(ngModel)]="tipo"
                                    #tipoEvento="ngModel"
                                    >
                                <option value="Consulta de rotina">Consulta de rotina</option>
                                <option value="Consulta">Consulta</option>
                                <option value="Exames">Exames</option>
                                <option value="Vacinas">Vacinas</option>
                                <option value="Desparatização">Desparatização</option>
                                <option value="Esterelização">Esterelização</option>
                                <option value="Outro">Outro</option>
                            </select>

                            <div *ngIf="tipoEvento.errors && ( tipoEvento.dirty || tipoEvento.touched )" class="alert alert-danger">
                                <div [hidden]="!tipoEvento.errors.required">
                                    O campo tipo de evento é obrigatório.
                                </div>
                            </div>
                        </div>

         
                        <div class="form-group mb-4">
                            <label class="white" for="tipo">Observações</label>
                            <textarea style="background-color:aliceblue;text-align: justify;color:dimgray" 
                                class="form-control form-control-sm" 
                                rows="5" 
                                class="form-control" 
                                name="observacoes" 
                                [(ngModel)]="observacoes">
                            </textarea>
                        </div>

                        
                        <div class="buttons1">
                            <button type="submit" (click)="newEvento()" class="btn btn-success custom-button-width" [disabled]="loading" [disabled]="!createForm.form.valid">
                                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                <span class="fa fa-save" *ngIf="!loading"></span>  Guardar
                            </button>
                            

                            <a routerLink="/eventos"><button type="submit" class="btn btn-danger custom-button-width">
                                <span class="fa fa-arrow-left"></span>  Cancelar
                            </button></a>
                        </div>
             
                    </form>
                    
              </div>
          </div>

          

      </div>

</div>