<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Editar Utilizador
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form (ngSubmit)="updateUtilizador()">
                        <h1>Editar Utilizador</h1>
                        <p class="text-muted">Id do Utilizador: {{utilizador._id}}</p>

                        <div class="form-group mb-3">
                            <label for="nome">Nome</label>
                            <input 
                            id="nome"
                            type="text" 
                            class="form-control" 
                            required
                            [(ngModel)]="nomeUtilizador"
                            name="nome"
                            #nome="ngModel"                    
                            >
                            <div *ngIf="nome.errors && ( nome.dirty || nome.touched )" class="alert alert-danger">
                                <div [hidden]="!nome.errors.required">
                                    O campo nome é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-3">
                            <label for="email">Email</label>
                            <input 
                                id="email"
                                type="text" 
                                class="form-control" 
                                required 
                                [(ngModel)]="emailUtilizador"
                                name="email"
                                #email="ngModel"                    
                            >
                            <div *ngIf="email.errors && ( email.dirty || email.touched )" class="alert alert-danger">
                                <div [hidden]="!email.errors.required">
                                    O campo email de animal é obrigatório.
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="role">Role</label>
                            <input 
                                id="role"
                                type="text" 
                                class="form-control" 
                                [(ngModel)]="roleUtilizador"
                                name="role"
                                #role="ngModel"   
                                readonly                 
                            >
                        </div>




                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-success" [disabled]="loading">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    <span class="fa fa-save" *ngIf="!loading"> </span> Guardar
                                </button>

                                <a routerLink="/utilizadores"><button type="submit" class="btn btn-primary" [disabled]="loading">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    <span class="fa fa-arrow-left" *ngIf="!loading"> </span> Voltar
                                </button></a>
                            </div>
                        </div>
                        
                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>