<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Mostrar Treino
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form>
                        <h1>Mostrar Treino</h1>
                        <p class="text-muted">Id do Treino: {{treino._id}}</p>


                        <div class="form-group mb-3">
                            <label for="data">Data</label>
                            <input 
                            id="data"
                            type="text" 
                            class="form-control" 
                            readonly
                            [ngModel]="dataTreino | date:'dd-MM-yyyy HH:mm'" 
                            (ngModelChange)="updateData($event)"
                            name="data"
                            >

                        </div>


                        <div class="form-group mb-3">
                            <label for="treinador">Treinador ID</label>
                            <input type="text" class="form-control" id="treinador" name="treinador" [(ngModel)]="treinadorTreino" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="nomeTrn">Nome Treinador</label>
                            <input type="text" class="form-control"   name="nomeTrn" [(ngModel)]="nomeTreinador" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="animal">Animal ID</label>
                            <input type="text" class="form-control"   name="animal" [(ngModel)]="animalTreino" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="nomeAni">Nome Animal</label>
                            <input type="text" class="form-control"   name="nomeAni" [(ngModel)]="nomeAnimal" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="tipo">Tipo de Treino</label>
                            <input type="text" class="form-control"  name="tipo" [(ngModel)]="tipoTreino" readonly>
                        </div>
                        <div class="form-group mb-4">
                            <label for="desempenho">Desempenho</label>
                            <input type="text" class="form-control"   name="desempenho" [(ngModel)]="desempenhoTreino" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="obs">Observações</label>
                            <input type="text" class="form-control"  name="obs" [(ngModel)]="obsTreino" readonly>
                        </div>



                        <div class="row">
                            <div class="col-6">
                                <a routerLink="/treinos"><button type="submit" class="btn btn-primary" [disabled]="loading">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    <span class="fa fa-arrow-left" *ngIf="!loading"> </span> Voltar
                                </button></a>
                            </div>
                        </div>
                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>