<div class="card">
    <div class="card-header text-center">
        <h3>Utilizadores</h3>
    </div>
    <div class="card-body">
        <div class="form-group row mb-3">
            <label class="col-2 col-form-label">
                Procurar por utilizadores:
            </label>
            <div class="col-10">
                <input type="text" name="name" class="form-control" [(ngModel)]="search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Ativo</th>
                            
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="utilizadores.length == 0 && !loading">
                            <td colspan="5" class="text-center">Não existem utilizadores</td>
                        </tr>
                        <tr *ngIf="loading">
                            <td colspan="5" class="text-center">
                                <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngFor="let utilizador of utilizadores | nameSearchFilter: '_id':search">
                            <td>{{utilizador._id}}</td>
                            <td>{{utilizador.name}}</td>
                            <td>{{utilizador.email}}</td>
                            <td>{{utilizador.role}}</td>
                            <td>{{utilizador.ativo}}</td>
   
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">
                                <a [routerLink]="['/utilizadores', utilizador._id, 'mostrar']" *ngIf="authService.isAuthenticated() 
                                    && authService.hasRole('admin')">
                                    <button class="btn btn-info btn-sm" title="Detalhe utilizador">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </a>
                                <a [routerLink]="['/utilizadores', utilizador._id, 'editar']" *ngIf="authService.isAuthenticated() 
                                    && authService.hasRole('admin')">
                                    <button class="btn btn-info btn-sm" title="Editar utilizador">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </a>
                                <a *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">
                                    <button class="btn btn-danger btn-sm" 
                                        title="Eliminar utilizador" (click)="deleteUtilizador(utilizador._id)" [disabled]="loading">
                                        <i class="fa fa-remove" *ngIf="!loading"></i>
                                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    </button>
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>