<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-body">
                            <form (ngSubmit)="alteraPassword()" #changePasswordForm="ngForm">
                                
                                <h1>Alterar password</h1>


                                <div class="form-group mb-4">
                                    <label for="pass">Password</label>
                                    <input 
                                        id="pass" 
                                        type="password" 
                                        class="form-control"  
                                        name="pass" 
                                        [(ngModel)]="password" 
                                        #pass="ngModel" 
                                        required 
                                        pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}' 
                                    >
                                    <small [hidden]="pass.valid || (pass.pristine &&    
                                        !changePasswordForm.submitted)">
                                        A password não cumpre os requisitos.
                                    </small>

                                </div>


                                <div class="form-group mb-4">
                                    <label for="pass2">Repita a password</label>
                                    <input 
                                        id="pass2" 
                                        type="password" 
                                        class="form-control"  
                                        name="pass2" 
                                        [(ngModel)]="passwordConfirmation" 
                                        #pass2="ngModel" 
                                        required 
                                        pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}'
                                    >
                                </div>



                                
                                <div class="buttons1">
                                    <button type="submit" class="btn btn-success custom-button-width" [disabled]="loading" [disabled]="!changePasswordForm.form.valid">
                                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                        <span class="fa fa-save" *ngIf="!loading"></span>  Guardar
                                    </button>
                                    

                                    <a routerLink="/"><button type="submit" class="btn btn-danger custom-button-width">
                                        <span class="fa fa-arrow-left"></span>  Cancelar
                                    </button></a>
                                </div>
                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
