<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Editar Intervencao
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form (ngSubmit)="updateIntervencao()">
                        <h1>Editar Intervencao</h1>
                        <p class="text-muted">Id da Intervencao: {{intervencao._id}}</p>


                        <div class="form-group mb-3">
                            <label class="white" for="data">Data de Intervenção</label>
                            <angular2-date-picker
                                id="data"
                                [(ngModel)]="dataIntervencao"
                                name="data"
                                [settings]="settings"
                                #data="ngModel">                    
                            </angular2-date-picker>
                        </div>


                        <div class="form-group mb-4">
                            <label for="desc">Descrição</label>
                            <input type="text" 
                                class="form-control" 
                                name="desc"
                                required
                                #desc="ngModel"
                                [(ngModel)]="descricaoIntervencao">
                            <div *ngIf="desc.errors && ( desc.dirty || desc.touched )" class="alert alert-danger">
                                <div [hidden]="!desc.errors.required">
                                    O campo descrição da intervenção é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-4">
                            <label class="white" for="tipo">Tipo da intervenção</label>
                            <select class="form-control" 
                                    id="tipo"
                                    name="tipo" 
                                    required
                                    [(ngModel)]="tipoIntervencao"
                                    #tipo="ngModel"
                                    >
                                <option value="Exame">Exame</option>
                                <option value="Vacina">Vacina</option>
                                <option value="Desparatização">Desparatização</option>
                                <option value="Esterelização">Esterelização</option>
                                <option value="Prescricao">Prescrição</option>
                                <option value="Outro">Outro</option>
                            </select>

                            <div *ngIf="tipo.errors && ( tipo.dirty || tipo.touched )" class="alert alert-danger">
                                <div [hidden]="!tipo.errors.required">
                                    O campo tipo de intervenção é obrigatório.
                                </div>
                            </div>
                        </div>



                        <div class="form-group mb-4">
                            <label for="observacoes">Observacoes</label>
                            <input type="text" class="form-control" name="observacoes" [(ngModel)]="observacoesIntervencao">
                        </div>


      
                        <button type="submit" class="btn btn-success" [disabled]="loading">
                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                            <span class="fa fa-save" *ngIf="!loading"> </span> Guardar
                        </button>
        

                
                        <a [routerLink]="['/eventos', eventoId, 'intervencoes']"><button type="submit" class="btn btn-primary" [disabled]="loading">
                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                            <span class="fa fa-arrow-left" *ngIf="!loading"> </span> Voltar
                        </button></a>
              


     
                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>