<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Mostrar Ocorrência
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form>
                        <h1>Mostrar Ocorrência</h1>
                        <p class="text-muted">Id do Ocorrência: {{ocorrencia._id}}</p>


                        <div class="form-group mb-4">
                            <label for="data">Data da ocorrência</label>
                            <input type="text"
                             class="form-control" 
                             id="data" name="data" 
                             [ngModel]="data | date:'dd-MM-yyyy HH:mm'" 
                             (ngModelChange)="updateData($event)"
                             readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="tipo">Tipo de Ocorrência</label>
                            <input type="text" class="form-control" id="tipo" name="tipo" [(ngModel)]="tipo" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="animal">Animal</label>
                            <input type="text" class="form-control" id="animal" name="animal" [(ngModel)]="animal" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="responsavelAnimais">Responsável de Animais</label>
                            <input type="text" class="form-control" id="responsavelAnimais" name="responsavelAnimais" [(ngModel)]="responsavelAnimais" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="descricao">Descrição</label>
                            <input type="text" class="form-control" id="descricao" name="descricao" [(ngModel)]="descricao" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="localizacao">Localização</label>
                            <input type="text" class="form-control" id="localizacao" name="localizacao" [(ngModel)]="localizacao" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="lat">Latitude</label>
                            <input type="text" class="form-control" id="lat" name="lat" [(ngModel)]="lat" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="long">Longitude</label>
                            <input type="text" class="form-control"  id="long" name="long" [(ngModel)]="long" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="estado">Estado do animal</label>
                            <input type="text" class="form-control" id="estado" name="estado" [(ngModel)]="estado" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="tipoAnimal">Tipo do animal</label>
                            <input type="text" class="form-control" id="tipoAnimal" name="tipoAnimal" [(ngModel)]="tipoAnimal" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="racaAnimal">Raça do animal</label>
                            <input type="text" class="form-control" id="racaAnimal" name="racaAnimal" [(ngModel)]="racaAnimal" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="contacto">Contacto do queixoso</label>
                            <input type="text" class="form-control" id="contacto"  name="contacto" [(ngModel)]="contacto" readonly>
                        </div>

                        <div class="form-group mb-4">
                            <label for="notificada">Já foi notificada por email à entidade competente?</label>
                            <input type="text" class="form-control"  id="notificada" name="notificada" [(ngModel)]="notificada" readonly>
                        </div>


                        <div class="form-group mb-4">
                            <label for="foto">Foto</label>
                            <!--<img nome="foto" id="foto" [src]="'data:image/jpg;base64,'+fotoAnimal">-->
                            <button class="form-control btn btn-secondary" (click)="verFoto($event)">Ver foto</button>
                        </div>

                        <div class="form-group mb-4">
                            <label for="ativo">Ativa</label>
                            <input type="text" class="form-control" id="ativo" name="ativo" [(ngModel)]="ativo" readonly>
                        </div>


                        <div class="row">
                            <div class="col-6">
                                <a routerLink="/ocorrencias"><button type="submit" class="btn btn-primary" [disabled]="loading">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    <span class="fa fa-arrow-left" *ngIf="!loading"> </span> Voltar
                                </button></a>
                            </div>
                        </div>
                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>