::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c0c0c0;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c0c0c0;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #c0c0c0;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form){
    border-left: 5px solid #A94442;
}

.buttons1{
    margin-top: 60px;
}

#main { 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }

.transparent-input{
    opacity: 0.9;
    filter: alpha(opacity=1);
 }

 .white{
     color: white;
 }

 #conta{
     color: white;
 }

body, html {
    height: 100%;
}

