<div id="main" class="flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center transparent-input">
			<div class="col-md-6">
                <div class="card-body p-4">
                    <h1 class="white">Iniciar sessão</h1>
                    <p class="white">Inicie sessão na sua conta</p>
                    <div class="input-group mb-3">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" 
                            class="form-control" 
                            placeholder="Email"
                            required
                            name="email"
                            #email2="ngModel"
                            pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            [(ngModel)]="email">
     
                    </div>
                    <div *ngIf="email2.errors && ( email2.dirty || email2.touched )" class="alert alert-danger">
                        <div [hidden]="!email2.errors.required">
                            O campo email é obrigatório.
                        </div>
                        <div [hidden]="!email2.errors.pattern">
                            Formato do email inválido.
                        </div>
                    </div>

                    <div class="input-group mb-4">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" 
                        class="form-control" 
                        onfocus="this.value=''" 
                        placeholder="Password" 
                        name="password"
                        required
                        #pass="ngModel"
                        [(ngModel)]="password">
                    </div>
                    <div *ngIf="pass.errors && ( pass.dirty || pass.touched )" class="alert alert-danger">
                        <div [hidden]="!pass.errors.required">
                            O campo password é obrigatório.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary px-4 " (click)="login()" [disabled]="loading">
                                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                <span *ngIf="!loading">Iniciar sessão</span>
                            </button>
                        </div>
                    </div>
                    
                </div>
             </div>
        </div>
    </div>
</div>

<!--

<div id="main" class="flex-row align-items-center">

	<div class="container">

		<div class="row justify-content-center transparent-input">

			<div class="col-md-6">
				<div *ngIf="errors.length">
					<h2>Erros</h2>
					<ul class="bg-danger">
						<li *ngFor="let error of errors">
							{{error}}
						</li>
					</ul>
				</div>
	
					<div class="card-body p-4">
						<h1 class="white">Iniciar sessão</h1>
						<p id="conta">Inicie sessão com a sua conta.</p>
						<div class="input-group mb-3">
							<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
							</span>
							<input type="text" 
								class="form-control" 
								placeholder="Email" 
								name="email" 
								id="email"
								pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
								required
								#email2="ngModel"
								[(ngModel)]="email">
						</div>
						<div *ngIf="email2.errors && ( email2.dirty || email2.touched )" class="alert alert-danger">
							<div [hidden]="!email2.errors.required">
								O campo email é obrigatório.
							</div>
							<div [hidden]="!email2.errors.pattern">
								Formato do email inválido.
							</div>
						</div>


						
						<div class="input-group mb-3">
							<span class="input-group-addon">
								<i class="fa fa-lock"></i>
							</span>
							<input type="password" 
								class="form-control" 
								placeholder="Password" 
								name="password"
								required
								#pass="ngModel"
								[(ngModel)]="password">
						</div>
						<div *ngIf="pass.errors && ( pass.dirty || pass.touched )" class="alert alert-danger">
							<div [hidden]="!pass.errors.required">
								O campo password é obrigatório.
							</div>
						</div>


						<button type="submit" class="btn btn-block btn-success mb-3" (click)="register()" [disabled]="loading" *ngIf="!authService.isAuthenticated() && acordo">
							<i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
							<i class="fa fa-save" *ngIf="!loading"></i>
							<span *ngIf="!loading">Criar conta</span>
						</button>

		

						<div style="margin-top: 50px;" class="container">
							<div class="row justify-content-center">
								<div class="col-md-6">
									<a class="btn btn-secondary btn-block" routerLink="/">
										<i class="fa fa-back" aria-hidden="true"></i>
										Voltar
									</a>
								</div>
							</div>
						</div>



					</div>


	
		</div>

</div>
-->