<div class="card">
    <div class="card-header text-center">
        <h3>Eventos</h3>
    </div>
    <div class="card-body">
        <div class="form-group row mb-3">
            <label class="col-2 col-form-label">
                Procurar por eventos:
            </label>
            <div class="col-10">
                <input type="text" name="name" class="form-control" [(ngModel)]="search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                            <th>Data</th>
                            <th>Veterinário</th>
                            <th>Animal</th>
                            <th>Tipo</th>
                            <th>Observações</th>
                            <th *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">Ativo</th>                         
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="eventos.length == 0 && !loading">
                            <td colspan="5" class="text-center">Não existem eventos</td>
                        </tr>
                        <tr *ngIf="loading">
                            <td colspan="5" class="text-center">
                                <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngFor="let evento of eventos | nameSearchFilter: '_id':search">
                            <td>{{evento._id}}</td>
                            <td>{{evento.data | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('responsavelanimais')">{{evento.nomeVeterinario}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('responsavelanimais')">{{evento.nomeAnimal}}</td>
                            <td *ngIf="authService.isAuthenticated() && !authService.hasRole('responsavelanimais')">{{evento.veterinario}}</td>
                            <td *ngIf="authService.isAuthenticated() && !authService.hasRole('responsavelanimais') && !authService.hasRole('admin')">{{evento.animal["nome"]}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">{{evento.animal}}</td>
                            <td>{{evento.tipo}}</td>
                            <td>{{evento.observacoes}}</td>
                            <td *ngIf="authService.isAuthenticated() && authService.hasRole('admin')">{{evento.ativo}}</td>
                            <td class="wfix">
                                <a [routerLink]="['/eventos', evento._id, 'mostrar']"><button class="btn btn-info btn-sm" title="Detalhe evento">
                                    <i class="fa fa-eye"></i>
                                </button></a>
                                <a [routerLink]="['/eventos', evento._id, 'intervencoes']" 
                                *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || authService.hasRole('veterinario') || authService.hasRole('responsavelanimais'))">
                                    <button class="btn btn-info btn-sm" title="Ver Intervenções do Evento">
                                        <i class="fa fa-list-alt"></i>
                                    </button>
                                </a>
                                <a [routerLink]="['/eventos', evento._id, 'editar']" 
                                *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || authService.hasRole('veterinario'))">
                                    <button class="btn btn-info btn-sm" title="Editar evento">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </a>
                                <a *ngIf="authService.isAuthenticated() && (authService.hasRole('admin') || authService.hasRole('veterinario'))">
                                    <button class="btn btn-danger btn-sm" title="Eliminar evento" (click)="deleteEvento(evento._id)" [disabled]="loading">
                                        <i class="fa fa-remove" *ngIf="!loading"></i>
                                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    </button>
                                </a>
                                <a *ngIf="authService.isAuthenticated() && authService.hasRole('admin')"><button class="btn btn-danger btn-sm" 
                                    title="Remover BD evento" (click)="deleteEventoFromDb(evento._id)" [disabled]="loading">
                                    <i class="fa fa-trash" *ngIf="!loading"></i>
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                </button></a>

                        

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>