<div class="card">

      <div class="card-header">
          Criar Ocorrência
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form enctype="multipart/form-data" (ngSubmit)="newOcorrencia()" #createForm="ngForm">
                        <h1>Registar Ocorrência</h1>
                        <p class="text-muted">Registe uma nova ocorrência</p>


                        <div class="form-group mb-4">
                            <label for="tipoOcorrencia">Tipo de Ocorrência</label>
                            <select class="form-control form-control-sm" 
                                    id="tipoOcorrencia"
                                    name="tipoOcorrencia" 
                                    [(ngModel)]="tipo"
                                    #tipoOcorrencia="ngModel"
                                    >
                                <option value="acidente">Acidente</option>
                                <option value="perda">Desaparecimento</option>
                                <option value="maustratos">Maus-tratos</option>
                            </select>

                            <div *ngIf="tipoOcorrencia.errors && ( tipoOcorrencia.dirty || tipoOcorrencia.touched )" class="alert alert-danger">
                                <div [hidden]="!tipoOcorrencia.errors.required">
                                    O campo tipo de ocorrência é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div class="input-group mb-4" *ngIf="authService.isAuthenticated() && 
                        (authService.hasRole('admin') || authService.hasRole('responsavelanimais')) &&
                        tipo!='maustratos'">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="form-check-sm ">
                                    <input type="checkbox" name="checkResp" id="checkResp" [(ngModel)]="responsabilidade">
                                    <label *ngIf="authService.isAuthenticated() && 
                                    authService.hasRole('responsavelanimais')" class="form-check-label" for="checkResp">Sou responsável por este animal?</label>
                                    <label *ngIf="authService.isAuthenticated() && 
                                    authService.hasRole('admin')" class="form-check-label" for="checkResp">Animal em sistema?</label>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="authService.isAuthenticated() && authService.hasRole('responsavelanimais') && responsabilidade" 
                        class="form-group mb-3">
                            <label for="animaluser">Escolha o seu animal</label>
                            <select name="animaluser" id="animaluser" class="form-control form-control-sm" [(ngModel)]="animal">
                                <option *ngFor="let animal of animais" [ngValue]="animal._id">{{animal.nome}}</option>
                            </select>
                        </div>

                        <div *ngIf="authService.isAuthenticated() && 
                        authService.hasRole('admin') && responsabilidade" 
                        class="form-group mb-3">
                        <label for="animaluser2">Escolha o animal em sistema</label>
                            <select name="animaluser2" id="animaluser2" class="form-control form-control-sm" [(ngModel)]="animal">
                                <option *ngFor="let animal of animais2" [ngValue]="animal._id">{{animal.nome}}</option>
                            </select>
                        </div>


                        <div class="form-group mb-3">
                            <label for="loc">Localização</label>
                            <input 
                            id="loc"
                            type="text" 
                            class="form-control form-control-sm" 
                            required
                            [(ngModel)]="localizacao"
                            name="loc"
                            #loc="ngModel"                    
                            >
                            <div *ngIf="loc.errors && ( loc.dirty || loc.touched )" class="alert alert-danger">
                                <div [hidden]="!loc.errors.required">
                                    O campo localização é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div *ngIf="tipo==='acidente' || tipo==='maustratos'" class="form-group mb-4">
                            <label for="estadoAnimal">Estado do animal</label>
                            <select class="form-control form-control-sm" 
                                    id="estadoAnimal"
                                    name="estadoAnimal" 
                                    [(ngModel)]="estado"
                                    #estadoAnimal="ngModel"
                                    
                                    >
                                <option value="ferido">Ferido</option>
                                <option value="morto">Morto</option>
  
                            </select>

                            <div *ngIf="estadoAnimal.errors && ( estadoAnimal.dirty || estadoAnimal.touched )" class="alert alert-danger">
                                <div [hidden]="!estadoAnimal.errors.required">
                                    O campo estado do animal é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div *ngIf="!responsabilidade" class="form-group mb-4">
                            <label for="tipoAni">Tipo de animal</label>
                            <select class="form-control form-control-sm" 
                                    id="tipoAni"
                                    name="tipoAni" 
                                    [(ngModel)]="tipoAnimal"
                                    #tipoAni="ngModel"
                                    required
                                    >
                                <option value="Cão">Cão</option>
                                <option value="Gato">Gato</option>
                                <option value="Cavalo">Cavalo</option>
                                <option value="Coelho">Coelho</option>
                                <option value="Porco">Porco</option>
                                <option value="Tartaruga">Tartaruga</option>
                                <option value="Outro animal domestico">Outro animal doméstico</option>
                                <option value="Animal de Gado">Animal de gado</option>
                                <option value="Animal selvagem">Animal selvagem</option>
                                <option value="Desconhecido">Desconhecido</option>
                            </select>

                            <div *ngIf="tipoAni.errors && ( tipoAni.dirty || tipoAni.touched )" class="alert alert-danger">
                                <div [hidden]="!tipoAni.errors.required">
                                    O campo tipo de animal é obrigatório.
                                </div>
                            </div>
                        </div>


                        
                        <div *ngIf="!responsabilidade" class="form-group mb-3">
                            <label for="raca">Raça do Animal</label>
                            <input 
                            id="raca"
                            type="text" 
                            class="form-control form-control-sm"
                            [(ngModel)]="racaAnimal"
                            name="raca"
                            #raca="ngModel"                    
                            >
                            <div *ngIf="raca.errors && ( raca.dirty || raca.touched )" class="alert alert-danger">
                                <div [hidden]="!raca.errors.required">
                                    O campo raça do animal é obrigatório.
                                </div>
                            </div>
                        </div>


                        <div *ngIf="!authService.isAuthenticated() || authService.hasRole('admin')" class="form-group mb-3">
                            <label for="contact">O seu contacto</label>
                            <input 
                            id="contact"
                            type="text" 
                            class="form-control form-control-sm" 
                            required
                            [(ngModel)]="contacto"
                            name="contact"
                            #contact="ngModel"                    
                            >
                            <div *ngIf="contact.errors && ( contact.dirty || contact.touched )" class="alert alert-danger">
                                <div [hidden]="!contact.errors.required">
                                    O campo contacto é obrigatório.
                                </div>
                            </div>
                        </div>

                        <div *ngIf="tipo==='maustratos'" class="form-group mb-3">
                            <label for="agressorid">Descrição de Agressor</label>
                            <textarea style="background-color:aliceblue;text-align: justify;color:dimgray" 
                                class="form-control form-control-sm" 
                                id="agressorid" 
                                rows="3"
                                required
                                [(ngModel)]="agressor"
                                name="agressorid"
                                #agressorid="ngModel">                   
                            </textarea> 
                            <div *ngIf="agressorid.errors && ( agressorid.dirty || agressorid.touched )" class="alert alert-danger">
                                <div [hidden]="!agressorid.errors.required">
                                    O campo descrição de agressor é obrigatório.
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="descricaoid">Descrição da ocorrência</label>
                            <textarea style="background-color:aliceblue;text-align: justify;color:dimgray" 
                                class="form-control form-control-sm" 
                                id="descricaoid" 
                                rows="5"
                                required
                                [(ngModel)]="descricao"
                                name="descricaoid"
                                #descricaoid="ngModel">                   
                            </textarea> 
                            <div *ngIf="descricaoid.errors && ( descricaoid.dirty || descricaoid.touched )" class="alert alert-danger">
                                <div [hidden]="!descricaoid.errors.required">
                                    O campo descrição da ocorrência é obrigatório.
                                </div>
                            </div>
                        </div>

                        
                        <div class="form-group mb-3">
                            <label for="foto">Foto da ocorrência</label>
                            <input type="file" style="background-color:aliceblue;text-align: justify;color:dimgray" 
                                class="form-control form-control-sm" 
                                id="foto" 
                                [(ngModel)]="fotoAnimal"
                                name="foto"
                                #foto="ngModel"
                                (change)="fileChangeEvent($event)"                
                            > 
                            <div *ngIf="foto.errors && ( foto.dirty || foto.touched )" 
                            class="alert alert-danger"
                            >
                                <div [hidden]="!foto.errors.required">
                                    O campo foto é obrigatório.
                                </div>
                            </div>
                        </div>
                        
                        


                        
                        <div class="buttons1">
                            <button type="submit" class="btn btn-success custom-button-width" [disabled]="loading" [disabled]="!createForm.form.valid">
                                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                <span class="fa fa-save" *ngIf="!loading"></span>  Guardar
                            </button>
                            

                            <a routerLink="/treinos"><button type="submit" class="btn btn-danger custom-button-width">
                                <span class="fa fa-arrow-left"></span>  Cancelar
                            </button></a>
                        </div>
             
                    </form>
                    
              </div>
          </div>

          

      </div>

</div>