<div class="card">
  <form (ngSubmit)="create()">
      <div class="card-header">
          Mostrar Intervenção
      </div>
      <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                <form>
                        <h1>Mostrar Intervenção</h1>
                        <p class="text-muted">Id da Intervenção: {{intervencao._id}}</p>


                        <div class="form-group mb-3">
                            <label for="data">Data da Intervenção</label>
                            <input 
                            id="data"
                            type="text" 
                            class="form-control" 
                            readonly
                            [ngModel]="dataIntervencao | date:'dd-MM-yyyy HH:mm'" 
                            (ngModelChange)="updateData($event)"
                            name="data"
                            >
                        </div>


                        <div class="form-group mb-4">
                            <label for="evento">Evento ID</label>
                            <input type="text" class="form-control" name="evento" [(ngModel)]="eventoIntervencao" readonly>
                        </div>

                        <div class="form-group mb-4">
                                <label for="tipo">Descrição</label>
                                <input type="text" class="form-control" name="descricao" [(ngModel)]="descricaoIntervencao" readonly>
                            </div>

                        <div class="form-group mb-4">
                            <label for="tipo">Tipo da Intervenção</label>
                            <input type="text" class="form-control" name="tipo" [(ngModel)]="tipoIntervencao" readonly>
                        </div>


                        <div class="form-group mb-4">
                            <label for="obs">Observações</label>
                            <input type="text" class="form-control"name="obs" [(ngModel)]="obsIntervencao" readonly>
                        </div>



                        <div class="row">
                            <div class="col-6">
                                <a [routerLink]="['/eventos', eventoId, 'intervencoes']"><button type="submit" class="btn btn-primary" [disabled]="loading">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    <span class="fa fa-arrow-left" *ngIf="!loading"> </span> Voltar
                                </button></a>
                            </div>
                        </div>
                    </form>
              </div>
          </div>

          

      </div>
  </form>
</div>